# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/.pub-cache/
client/.pub/
client/build/

# Web related
client/lib/generated_plugin_registrant.dart

# Symbolication related
client/app.*.symbols

# Obfuscation related
client/app.*.map.json

# Huge file - initial search setup files
server/API/city.json
server/API/write_file.py

# Hide API key
server/API/.env

# Pycache
server/API/__pycache__

# Client side .env file
client/.env
